@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #1d7abf;
  }
}

body {
  background: "#F8F9FA";
  /* background: var(--background); */
}

.btn-primary {
  color: #ffffff; /* text-gray-800 */
  font-weight: 500;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  padding: 6px 10px;
  border-radius: 6px;
  text-decoration: none;
  background: #1d7abf;
}

.btn-primary:hover {
  color: black; /* hover:text-blue-500 */
}

.btn-primary:focus {
  color: #3b82f6; /* focus:text-blue-500 */
  background-color: #dbeafe; /* focus:bg-blue-100 */
}

/* h1, h2, h3 {
  font-family: var(--font-inter), sans-serif;
} */

.animate-spin-slow {
  animation: spin-slow 100s linear infinite; /* Ajusta la velocidad */
}
